@model BotEventManagement.Models.API.SpeakerRequest

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAfterEvent.cshtml";
}

<h1>Editar Atração - @Model.Name</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SpeakerId" class="form-control" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Biography" class="control-label"></label>
                <textarea asp-for="Biography" rows="5" class="form-control"></textarea>
                <span asp-validation-for="Biography" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadedPhoto" class="control-label"></label>
                <input asp-for="UploadedPhoto" class="form-control" />
                <span asp-validation-for="UploadedPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-info" asp-area="" asp-controller="Speaker" asp-action="Index" asp-route-id="@TempData.Peek("EventId").ToString()">Voltar a Lista</a>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

