@model BotEventManagement.Models.API.EventRequest

@{
    ViewData["Title"] = "Create";
}

<h1>Criar Evento</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" rows="6" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address.Street" class="control-label"></label>
                <input asp-for="Address.Street" class="form-control" />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address.Latitude" class="control-label"></label>
                <input asp-for="Address.Latitude" type="number" min="-180" max="180" step=".000001" class="form-control" />
                <span asp-validation-for="Address.Latitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address.Longitude" class="control-label"></label>
                <input asp-for="Address.Longitude" type="number" min="-85" max="85" step=".000001" class="form-control" />
                <span asp-validation-for="Address.Longitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <a class="btn btn-info" asp-action="Index">Voltar a Lista</a>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
